<div class = 'comprete'>
  <div class ='comprete-in'>
    <div class = 'comprete-text'>

      <div><p class ='b'>予約した部屋</p>
      <p><%= @reserve.title %></p>
      </div>
      <div><p class ='b'>開始日</p>
        <p><%= @reserve.start %></p>
        </div>
        <div><p class ='b'>終了日</p>
       <p><%= @reserve.end %></p>
       </div>
       <div><p class ='b'>価格</p>
       <p><%= @reserve.price %></p>
       </div>
      
      
       </div>
    </div>
 </div>