<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  
  <div class="wrap">
    <label for="label1">▼ クリックで展開1</label>
    <input type="checkbox" id="label1" class="switch" />
    <!-- ↓↓最初隠したいコンテンツ↓↓ -->
    <div class="content">
      <p>
        hogehoge
      </p>
    </div>
    <!-- ↑↑最初隠したいコンテンツ ↑↑-->
  </div>

</body>
</html>
