 <div class="container-fiuld room">
  <h4 class="pb-4">検索結果：</h4>
  <div class="row">
    <div class = 'row-in'>
    <div class="row-room">
<% @search.each do |share| %>

  
          <%= link_to image_tag(share.image.url ),reserve_room_path(share)%>
            <td><%= share.title %></td>
            
            <td><%= share.area%></td>
            <td><%= share.price%></td>
            </td>  
           <% end %>
      </div>
    </div>
   </div>
  </div>
  